#canv1 {
    margin-top: 50px;
    margin-left: 20px;
}

.letter {
    position: absolute;
    font-size: 20pt;
}

#letterA {
    top: 100px;
    left: 10px;
}

#letterB {
    top: 160px;
    left: 100px;
}

#letterC {
    top: 80px;
    left: 140px;
}

#text {
    font-size: 25pt;
}

math {
    color: red;
    font-size: 20pt;
}

#equation {
    margin-top: 30px;
}