@keyframes openMouth {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#pacman {
  width: 300px;
  height: 300px;
  position: relative;
}

#circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
  position: absolute;
}

#triangle {
  width: 120px;
  height: 120px;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  top: 30px;
  left: 130px;
  animation: openMouth 0.51s infinite alternate;
}
