<form (ngSubmit)="getData()" [formGroup]="reactiveForm">
  <div class="form-group my-3">
    <label for="name">Name:</label>
    <input
      #name
      type="text"
      id="name"
      class="form-control"
      formControlName="name"
    />
  </div>
  <div
    class="col-12 alert alert-danger text-center"
    *ngIf="!NameValid && name.value"
  >
    <p>Name not valid !!</p>
  </div>
  <div class="form-group">
    <label for="age">Age:</label>
    <input
      #age
      type="number"
      id="age"
      class="form-control"
      formControlName="age"
    />
  </div>
  <div
    class="col-12 alert alert-danger text-center"
    *ngIf="!AgeValid && age.value"
  >
    <p>Age not valid !!</p>
  </div>
  <div class="form-group my-3">
    <label for="email">Email:</label>
    <input
      #email
      type="email"
      id="email"
      class="form-control"
      formControlName="email"
    />
  </div>
  <div
    class="col-12 alert alert-danger text-center"
    *ngIf="!EmailValid && email.value"
  >
    <p>Email not valid !!</p>
  </div>
  <input
    type="submit"
    class="btn btn-primary"
    [ngClass]="
      !NameValid
        ? 'disabled'
        : !AgeValid
        ? 'disabled'
        : !EmailValid
        ? 'disabled'
        : 'btn btn-primary'
    "
  />
</form>
